@tailwind base;
@tailwind components;
@tailwind utilities;

.settings-banner {
  background-color: var(--background-secondary-alt);
  border-radius: 4px;
  margin-bottom: 2em;
  padding: 1.5em;
  text-align: left;
}

.settings-banner h4 {
  margin: 0;
}

#calendar-react-container {
  --color-background-heading: transparent;
  --color-background-day: transparent;
  --color-background-weeknum: transparent;
  --color-background-weekend: transparent;

  --color-dot: var(--text-muted);
  --color-arrow: var(--text-muted);
  --color-button: var(--text-muted);

  --color-text-title: var(--text-normal);
  --color-text-heading: var(--text-muted);
  --color-text-day: var(--text-normal);
  --color-text-today: var(--interactive-accent);
  --color-text-weeknum: var(--text-muted);
}
